// @font-face stack

@font-face {
    font-family: 'angleseven';
    src: url('fonts/angleseven.eot');
    src: url('fonts/angleseven.eot?#iefix') format('embedded-opentype'),
         url('fonts/angleseven.woff') format('woff'),
         url('fonts/angleseven.ttf') format('truetype'),
         url('fonts/angleseven.svg#verbbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

