@include keyframes(main_slide_out) {
  from {
    position: relative; left: auto;
  }
  to {
   	left: -1000px; @include opacity(0);
  }
}

@include keyframes(main_slide_in_down) {
  from {
    left: -1000px; @include opacity(0);
  }
  to {
   	position: relative; left: auto; @include opacity(1);
  }
}

@include keyframes(main_slide_in_up) {
  from {
    left: 1000px; @include opacity(0);
  }
  to {
   	position: relative; left: auto; @include opacity(1);
  }
}


@include keyframes(left_control_slide_in) {
  from {
    left: auto;
  }
  to {
    position: relative; left: 252px;
  }
}

@include keyframes(slide_content_down) {
  from {
    right: auto;
  }
  to {
    position: relative; right: -50px;
  }
}