@import "neat/neat-helpers"; // or "neat/neat-helpers" when not in Rails
//$visual-grid: true;
// Change the grid settings
//$column: 95px;
//$gutter: 20px;
$grid-columns: 12;
$max-width: 1140px;

// Define your breakpoints
$mobile: new-breakpoint(max-width 480px 4);
$tablet: new-breakpoint(max-width 959px 8);

$tablet_portrait: new-breakpoint(max-width 780px 8);
$tablet_landscape: new-breakpoint(max-width 1140px 8);

$desktop: new-breakpoint(max-width 1140px 12);
$big_desktop: new-breakpoint(min-width 1339px 12);